html,
body {
  --bs-dark: var(--nat-navbar-bg);
  --bs-light-rgb: 236, 236, 236;
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: fixed center url("/homepage_background.webp");
  background-size: cover;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.card {
  border: 2px solid green !important;
  border-radius: 30px;          /* optional */
  background-color: rgba(255, 255, 255, 0.98) !important;
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.8); /* optional glow */
  padding: 1.5rem;
}

