:root {
  --uh-green: #004d00;
  --uh-green-light: #1e6f43;
  --uh-green-dark: #003300;
  --uh-gold: #f4c430;
}

html,
body {
  --bs-dark: var(--nat-navbar-bg);
  --bs-light-rgb: 236, 236, 236;
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: #ffffff;
}

/* Home page background */
.bg-home {
  min-height: 100vh;
  background: fixed center url("/homepage_background.webp");
  background-size: cover;
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.home-card {
  border: 2px solid green;
  border-radius: 30px;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: 0 0 20px rgba(9, 99, 9, 0.8);
  padding: 1.5rem;
}

.hero-title {
  color: white;
  text-shadow:
    -2px -2px 0 red,
    2px -2px 0 red,
    -2px 2px 0 red,
    2px 2px 0 red;
}

.hero-subtitle {
  color: white;
  text-shadow:
    -1px -1px 0 red,
    1px -1px 0 red,
    -1px 1px 0 red,
    1px 1px 0 red;
}

.custom-navbar {
  background-color: var(--uh-green) !important; /* UH green */
  border-bottom: 3px solid #ffffff; /* Optional accent */
}

.custom-navbar .navbar-brand,
.custom-navbar .nav-link,
.custom-navbar .dropdown-toggle {
  color: white !important;
  font-weight: 600;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}

.custom-navbar .nav-link:hover,
.custom-navbar .dropdown-item:hover {
  color: #ff3b3b !important; /* Yellow hover */
}

.hint-box {
  background-color: var(--uh-green) !important;
  border: 1px solid #d9b46a;
  color: white;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
}
